ObjectField > VisualElement {
    background-color: rgba(255, 255, 255, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
ObjectField > VisualElement > ObjectFieldSelector {
    background-color: rgba(255, 255, 255, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}