Foldout {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8;
    margin-bottom: 8;
}
Foldout > #unity-content {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}